@model Shift

@Html.Partial("_LayoutPartial")
<div class="container">
    <table class="table table-striped">
        <tr>
            <td>@Html.DisplayNameFor(model => model.ShiftStart)</td>
            <td>@Html.DisplayFor(model => model.ShiftStart)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ShiftEnd)</td>
            <td>@Html.DisplayFor(model => model.ShiftEnd)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Employee.Fullname)</td>
            <td>@Html.DisplayFor(model => model.Employee.Fullname)</td>
        </tr>
    </table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
   
        @Html.ActionLink("Cancel", "Index")
    </p>
</div>