@model ShiftModel

@Styles.Render("~/Content/fullcalendar")
@Html.Partial("_LayoutPartial")
<div class="container">
    @using (Html.BeginForm("Edit", "Shift", FormMethod.Post, new { @class = "form-horizontal" }))
    {
 @Html.AntiForgeryToken()
 @Html.ValidationSummary(true)

        <fieldset>
            <legend>Shift</legend>

            @Html.HiddenFor(model => model.ShiftEntity.Id)

            <div class="control-group">
                @Html.LabelFor(model => model.ShiftEntity.ShiftStart, new { @class = "control-label" })
                <div class="controls">
                    <div class="input-append bootstrap-timepicker">
                        @Html.TextBox("ShiftEntity.ShiftStart", String.Format("{0:MM/dd/yyyy HH:mm}", Model.ShiftEntity.ShiftStart), new { @class = "timepicker" })
                        <span class="add-on"><i class="icon-time"></i></span>
                        @Html.ValidationMessageFor(model => model.ShiftEntity.ShiftStart)
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.ShiftEntity.ShiftEnd, new { @class = "control-label" })

                <div class="controls">
                    <div class="input-append bootstrap-timepicker">
                        @Html.TextBox("ShiftEntity.ShiftEnd", String.Format("{0:MM/dd/yyyy HH:mm}", Model.ShiftEntity.ShiftEnd), new { @class = "timepicker" })
                        <span class="add-on"><i class="icon-time"></i></span>
                        @Html.ValidationMessageFor(model => model.ShiftEntity.ShiftEnd)
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.ShiftEntity.EmployeeId, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(m => m.ShiftEntity.EmployeeId, new SelectList(Model.EmployeeList.ToList(), "Id", "Fullname"), new { @class = "select2-select-00 span12" })
                    @Html.ValidationMessageFor(model => model.ShiftEntity.EmployeeId)
                    <p>@Html.ActionLink("Create New Employee", "Create", "Employee")</p>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Update</button>

            </div>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Cancel", "Index")
    </div>
</div>
@Scripts.Render("~/bundles/fullcalendar")