@model AppointmentModel
@Html.Partial("_LayoutPartial")
<div class="container">
    <div class="form-horizontal">
        @using (Html.BeginForm())
        {
 @Html.AntiForgeryToken()
 @Html.ValidationSummary(true)

            <fieldset>
                <legend>Appointment</legend>

                <!-- customer input-->
                <div class="control-group col-lg-6">
                    <label class="control-label">Customer</label>
                    <div class="controls ">
                        @Html.DropDownListFor(model => model.Appointment.CustomerId, new SelectList(Model.Customers.ToList(), "Id", "Fullname"), "")
                        @Html.ValidationMessageFor(model => model.Appointment.CustomerId)
                        <b>
                            @Html.ActionLink("Add New", "Create", "Customer")
                        </b>
                    </div>
                </div>

                <!-- schedule input-->
                <div class="control-group col-lg-6">
                    <label class="control-label">Schedule</label>
                    <div class="controls ">
                        @Html.TextBox("Appointment.ScheduledStart", DateTime.Now.ToString("MM/dd/yyyy"), new { @class = "datetimepicker" })
                        @Html.ValidationMessageFor(model => model.Appointment.ScheduledStart)
                        <select id="AppointmentTime" name="AppointmentTime"></select>
                        @Html.ValidationMessageFor(model => model.AppointmentTime)
                        <span id="progress"><img src="~/Images/Progress.gif"/></span>
                    </div>
                </div>
                <div class="control-group col-lg-6">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    @Html.ActionLink("Cancel", "Index", new { @class = "btn" })
                </div>
            </fieldset>
        }
    </div>
</div>